<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <application
        android:label="KS Cloud Printer"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:allowBackup="false">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PrinterService"
            android:exported="true">
            <intent-filter>
                <action android:name="ks.cloud.printer.action.PRINT_TEXT" />
                <action android:name="ks.cloud.printer.action.PRINT_TICKET" />
            </intent-filter>
        </service>

    </application>
</manifest>